---
layout: page
permalink: /company/strategic-partners
---
{% assign pgtxt = site.data.company.strategic-partners %}
{% include pageheader.html title=pgtxt.title desc=pgtxt.desc header-image=pgtxt.header-image   %}

<div class="container">
	<h2>{{ pgtxt.section-one.title }}</h2>
			{{ pgtxt.section-one.body | markdownify }}
</div>

<div class="container">
<div class="row">
	{% for img in pgtxt.partner-images-list %}
	<div class="col">
		<img alt="{{ img.alt }}" src="{{ img.image }}">
	</div>
	{% endfor %}
</div>
</div>
